* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-color: #5152525b;
}

nav {
  background-color: #333;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #000000a0;
  border-radius: 20px;
}
  /* Style the container and chart */
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .chart-container {
    height: 400px;
    margin-top: 20px;
  }
  
  .download-button {
    display: block;
    margin-top: 20px;
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #3367d6;
  }
  